<!DOCTYPE html>
<html>
<head>
    <meta lang="sv" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse">   @*navbar-light*@
        <div class="container-fluid">
            <div class="navbar-header">   
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>               
                <a href='@Url.Action("Index", "Vehicles25")'>
                    <img src='@Url.Content("~/images/logo_small.png")' alt="image" class="img-responsive" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Parkerade fordon", "AllVehicles", "Vehicles25")</li>
                    <li>@Html.ActionLink("Parkera", "CheckIn", "Vehicles25")</li>
                    <li>@Html.ActionLink("Hämta/Sök", "Search", "Vehicles25")</li>
                    <li>@Html.ActionLink("Medlemmar", "Index", "Members25")</li>
                    <li>@Html.ActionLink("Fordonstyper", "Index", "VehicleTypes25")</li>
                    <li>@Html.ActionLink("Kontakt", "About", "Garage")</li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Garaget AB</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
