@model LexiconGarage.Models.Vehicle

@{
    ViewBag.Title = "Fordonsinformtion";
}

<h3>Fordonsinformation</h3>

<h2>@ViewBag.Message</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Member.UserName)</dt>
        <dd>@Html.DisplayFor(model => model.Member.UserName)</dd>

        <dt>@Html.DisplayNameFor(model => model.VehicleType.TypeInSwedish)</dt>
        <dd>@Html.DisplayFor(model => model.VehicleType.TypeInSwedish)</dd>

        <dt>@Html.DisplayNameFor(model => model.RegNo)</dt>
        <dd>@Html.DisplayFor(model => model.RegNo)</dd>

        <dt>@Html.DisplayNameFor(model => model.NumberOfWheels)</dt>
        <dd>@Html.DisplayFor(model => model.NumberOfWheels)</dd>

        <dt>@Html.DisplayNameFor(model => model.Brand)</dt>
        <dd>@Html.DisplayFor(model => model.Brand)</dd>

        <dt>@Html.DisplayNameFor(model => model.Model)</dt>
        <dd>@Html.DisplayFor(model => model.Model)</dd>

        <dt>@Html.DisplayNameFor(model => model.Weight)</dt>
        <dd>@Html.DisplayFor(model => model.Weight)</dd>

        @*<dt>@Html.DisplayNameFor(model => model.ParkingSlot)</dt>
        <dd>@Html.DisplayFor(model => model.ParkingSlot)</dd>*@

        <br>

        <dt>@Html.DisplayNameFor(model => model.ParkingTime)</dt>

        <dd>@Html.DisplayFor(model => model.ParkingTime)</dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Ändra", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Checka ut", "CheckOut", new { id = Model.Id }) |
    @Html.ActionLink("Till medlemsinfo", "Details", "Members25", new { id = Model.MemberId }, null)
</p>
