@model IEnumerable<LexiconGarage.Models.VehicleType>

@{
    ViewBag.Title = "Index";
}

<h3>Fordonstyper</h3>

<p>
    @Html.ActionLink("Lägg till ny fordonstyp", "Create")
</p>
<table class="table table-bordered table-condensed table-striped table-hover sortable">
    <thead>
        <tr>
            <th data-defaultsign="AZ">@Html.DisplayNameFor(model => model.TypeInSwedish)</th>
            <th data-defaultsign="AZ">@Html.DisplayNameFor(model => model.NumberOfVehicles)</th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.TypeInSwedish)</td>
            <td>@Html.DisplayFor(modelItem => item.NumberOfVehicles)</td>
            <td>
                @Html.ActionLink("Ändra", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Ta bort", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
