@model LexiconGarage.Models.Member

@{
    ViewBag.Title = "Unregister";
}

<h2>Avregistrera</h2>

<h3>Vill du verkligen avregistrera följande medlem?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Avregistrera" class="btn btn-default" /> |
            @Html.ActionLink("Tillbaka till medlemslistan", "Index")
        </div>
    }
</div>
